* {
    padding:0;
    margin:0;
}
.Class1 {
    background-color: #262626;
    width:400px;
    height:600px;
}
.Input {
    background-color: #333333;
    width:400px;
    height:80px;
    border: none;
}
.apps {
    width:
}
.exp {
    width:
}


